import drlbx.pytorch_external_configurables
import model
import learner

# Definition of the environment
create_env.env_name = 'MountainCar-v0'
create_env.encoder_name = 'independent'

# Experiment parameters
run.n_processes = 4
learner.learner_builder.name = 'a3c'
run.max_global_timesteps = 1000000

A3CLearner.optimizer_name = 'rms'
torch.optim.RMSprop.lr = 1e-3
torch.optim.RMSprop.alpha = 0.99
#torch.optim.Adam.lr = 1e-3
#torch.optim.Adam.eps = 1.5e-4 # Value used in the Rainbow paper OR the exploration noise paper
A3CLearner.criterion_name = 'mse'

# Weights initialization
init_weights.type_init = 'stable'

# Testing parameters
run.period_testing = 2000
run.n_episode_testing = 1
model.linear_a3c_builder.n_features = 64

# RL parameters
A3CLearner.discount_factor = 0.99
A3CLearner.device = 'cpu'
A3CLearner.period_async_update = 5 # i.e. every episode
A3CLearner.entropy_regularization = True
A3CLearner.beta = {{beta}}
